/* Hero */
.adventures-intro,
.experiences-content,
.adventures-section {
  padding: 1rem;
  margin: 0;
}

img {
  width: 100%;
}

.activities-hero {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}
.activities-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(1px) saturate(100%) brightness(66%);
  /* border: 4px solid red; */
  position: absolute;
  top: 0;
  z-index: 1;
}

.activities-hero-text {
  /* border: 5px solid rgb(0, 255, 140); */
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: white;
  z-index: 1;
}
.activities-hero-subtitle {
  font-size: 2.2rem;
}
.activities-hero-title {
  font-size: 3.5rem;
  font-weight: b700;
}

/* Adventures intro */
.adventures-intro {
  /* border: 4px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.adventures-intro-title {
  font-size: 3rem;
  font-weight: 100;
  color: var(--lighterBlack);
}
.adventures-intro-description {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: var(--textFont);
  color: var(--lighterBlack);
}

/* Experiences section */
.experiences-section {
  /* border: 4px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experiences-gallery {
  /* border: 4px solid rgb(13, 255, 0); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 0.5rem;
  align-items: center;
}

.experiences-image {
  width: 100%;
  object-fit: cover;
}

.experiences-content {
}
.experiences-description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: var(--textFont);
  color: var(--lighterBlack);
}

/* Adventures grid */
.adventures-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.adventures-title {
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--lighterBlack);
}
.adventures-description {
  font-size: 1.15rem;
  line-height: 1.8rem;
  font-family: var(--textFont);
  color: var(--lighterBlack);
}
.adventures-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
  grid-template-columns: 1fr;
  gap: 1.5rem;
  /* border: 4px solid red; */
}

.adventure-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
  /* border: 4px solid rgb(0, 255, 68); */
}
.adventure-image {
  margin-bottom: 1rem;
}
.adventure-tag {
  font-size: 1rem;
  text-transform: uppercase;
  color: green;
}

.adventures-intro2 {
  /* border: 4px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adventure-title {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--lighterBlack);
}
.adventure-description {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--lighterBlack);
  font-family: var(--textFont);
}

/* Underwater section */
.underwater-section {
  margin-top: 5rem;
}
.underwater-figure {
  /* border: 4px solid pink; */
  position: relative;
}
.underwater-image {
}
.underwater-caption {
  /* border: 4px solid yellow; */
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  color: white;
}
.underwater-caption-subtitle {
  font-size: 2.5rem;
}
.underwater-caption-title {
  font-size: 3rem;
  font-family: var(--fancyText);
}

.sectionCollection {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 11;
}

/* Tablet: 1100px and up */
@media (min-width: 700px) and (max-width: 1279px) {
  .adventures-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Desktop: 1280px and up */
@media (min-width: 1280px) {
  .adventures-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .activities-hero-text {
    bottom: 5rem;
    left: 10rem;
  }

  .activities-hero-subtitle {
    font-size: 3rem;
  }

  .activities-hero-title {
    font-size: 5.5rem;
  }

  /* .underwater-section {
    padding: 15rem;
    padding-top: 5rem;
  } */

  .adventures-intro {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 9rem;
    padding-top: 6rem;
    gap: 2rem;
  }

  .adventures-intro-title {
    font-size: 5.5rem;
  }

  .adventures-intro-description {
    font-size: 2.1rem;
    line-height: 3.3rem;
  }

  .experiences-section {
    margin-bottom: 7rem;
  }

  .experiences-description {
    font-size: 1.9rem;
    line-height: 2.8rem;
    text-align: justify;
  }

  .experiences-content {
    width: 68%;
    margin: 0 auto;
    margin-top: 7rem;
  }

  .adventures-intro2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9rem;
    padding-bottom: 0;
    padding-top: 0;
    gap: 3rem;
  }

  .adventures-title {
    font-size: 5rem;
    flex: 1;
  }

  .adventures-description {
    flex: 1;
    font-size: 1.15rem;
    line-height: 2rem;
  }

  .adventures-grid {
    padding: 2.3rem;
  }

  .adventure-title {
    font-size: 3.5rem;
  }

  .adventure-description {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .underwater-caption {
    bottom: 6rem;
    right: 10rem;
    text-align: right;
  }

  .underwater-caption-subtitle {
    font-size: 3rem;
  }

  .underwater-caption-title {
    font-size: 4.5rem;
  }
}
