.blog-hero {
  /* border: 10px solid red; */
  height: 100vh;
  position: sticky;
  top: 0;
}

.blog-hero-image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.blog-hero-content {
  /* border: 10px solid black; */
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-hero-subtitle {
  font-size: 2rem;
}

.blog-hero-title {
  font-size: 3.4rem;
}

.figures {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: white;
  position: relative;
}

.figure-1 {
}

.figure-1-image-wrapper {
}

.figure-1-image {
}

.figure-1-caption {
}

.figure-2 {
  /* styles will go here */
}

.figure-2-image-wrapper {
  /* styles will go here */
}

.figure-2-image {
  /* styles will go here */
}

.figure-2-caption {
  /* styles will go here */
}

/* Optional plain element selectors */
.figure-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}


.figure-div-image {
  object-fit: cover;
  object-position: center;
}

.figure-div figcaption {
  /* styles will go here */
  font-size: 2rem;
  color: var(--lighterBlack);
  cursor: pointer;
}

.figure-div figcaption:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: var(--lighterBlack);
  text-decoration-thickness: 1px;
}

.figure-3 {
  /* styles will go here */
}

.figure-3-image-wrapper {
  /* styles will go here */
}

.figure-3-image {
  /* styles will go here */
}

.figure-3-caption {
  /* styles will go here */
}

.figure-4 {
  /* styles will go here */
}

.figure-4-image-wrapper {
  /* styles will go here */
}

.figure-4-image {
  /* styles will go here */
}

.figure-4-caption {
  /* styles will go here */
}

.figure-5 {
  /* styles will go here */
}

.figure-5-image-wrapper {
  /* styles will go here */
}

.figure-5-image {
  /* styles will go here */
}

.figure-5-caption {
  /* styles will go here */
}

.figure-6 {
  /* styles will go here */
}

.figure-6-image-wrapper {
  /* styles will go here */
}

.figure-6-image {
  /* styles will go here */
}

.figure-6-caption {
  /* styles will go here */
}

.figure-7 {
  /* styles will go here */
}

.figure-7-image-wrapper {
  /* styles will go here */
}

.figure-7-image {
  /* styles will go here */
}

.figure-7-caption {
  /* styles will go here */
}

.figure-8 {
  /* styles will go here */
}

.figure-8-image-wrapper {
  /* styles will go here */
}

.figure-8-image {
  /* styles will go here */
}

.figure-8-caption {
  /* styles will go here */
}

.figure-9 {
  /* styles will go here */
}

.figure-9-image-wrapper {
  /* styles will go here */
}

.figure-9-image {
  /* styles will go here */
}

.figure-9-caption {
  /* styles will go here */
}

/* @media screen and (min-width: 1024px) {
  .figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 8.8rem;
    gap: 1.2rem;
  }

  .figure-1 {
    border: 1px solid red;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .figure-1-image {
  }

  .figure-2 {
  }
  .figure-3 {
  }
  .figure-4 {
    grid-row: 1;
    grid-column: 2;
  }
  .figure-5 {
    grid-row: 2;
    grid-column: 2;
  }
  .figure-6 {
  }
  .figure-7 {
    grid-row: 1;
    grid-column: 3;
  }
  .figure-8 {
    grid-row: 2;
    grid-column: 3;
  }
} */

@media screen and (min-width: 1024px) {
  .figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8.8rem;
    padding-top: 4rem;
  }

  .figure-div {
    margin-top: 3rem;
  }

  .figures-part1,
  .figures-part2,
  .figures-part3 {
    flex: 1;
  }

  .figure-1-image,
  .figure-2-image,
  .figure-3-image {
    height: 27rem;
  }

  .figure-4-image,
  .figure-6-image {
    height: 20rem;
  }

  .figure-5-image {
    height: 34rem;
  }

  .figure-7-image,
  .figure-8-image,
  .figure-9-image {
    height: 29rem;
  }

  .figure-div figcaption {
    font-size: 2.5rem;
  }

  .blog-hero-content {
    left: 9rem;
    bottom: 4rem;
  }

  .blog-hero-title {
    font-size: 7rem;
  }
}
