.banner {
  /* border: 4px solid red; */
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.banner-image {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.banner-content {
  /* border: 4px solid rgb(0, 255, 128); */
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 1;
  color: white;
}

.banner-subtitle {
  font-size: 2rem;
}

.banner-title {
  font-size: 3rem;
}

.reservation,
.booking-contact-form-section {
  padding: 2rem;
}

.reservation {
  /* border: 4px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.reservation-heading {
  font-size: 2.5rem;
  color: var(--lighterBlack);
  font-weight: 100;
}

.reservation-subheading {
  font-size: 2rem;
  color: var(--lighterBlack);
  font-weight: 100;
}

.reservation-form {
  /* border: 4px solid brown; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--textFont);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-label {
}

.form-input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(--textFont);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.545);
}

.form-input:focus {
  outline: none;
}

.form-select {
  border: none;
  font-size: 1rem;
  color: var(--lighterBlack);
}

.form-select:focus {
  outline: none;
}

.booking-contact-form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.booking-contact-form-title {
  font-weight: 300;
  font-family: var(--textFont);
}

.booking-section-collector {
  position: relative;
  background-color: white;
}

.booking-contact-form-button {
  background-color: green;
  padding: 1rem;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .reservation,
  .booking-contact-form-section {
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
  }

  .reservation-heading {
    font-size: 3rem;
  }

  .reservation-subheading {
    font-size: 2.2rem;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    /* border: 4px solid red; */
    justify-content: space-between;
    gap: 4rem;
  }

  .form-group {
    /* border: 4px solid red; */
    width: 50%;
  }

  .booking-contact-form-section {
    margin-top: 3rem;
  }

  .booking-contact-form-button {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
}
