.about,
.stay,
.offerings-section,
.discover-section,
.room-highlight-section,
.moments-section,
.golf-section,
.rooms-view-section,
.wellness-section {
  padding: 1rem;
  position: relative;
  z-index: 10;
  background: white;
}

.hero {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mainBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* position: absolute;
  top: 0;
  z-index: -1; */
  filter: blur(1px) saturate(100%) brightness(66%);
}

.intro {
  /* border: 4px solid yellow; */
  position: absolute;
  bottom: 2.5rem;
  left: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-text {
  font-size: 2rem;
}

.intro-heading {
  font-size: 3.1rem;
  font-weight: 100;
}

.about {
  /* border: 7px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-title {
  font-size: 3rem;
  font-weight: 100;
  /* border: 3px solid pink; */
  font-family: var(--header2);
  color: var(--lighterBlack);
}

.about-description {
  font-size: 1.3rem;
  line-height: 2.1rem;
  /* border: 5px solid yellow; */
  color: var(--lighterBlack);
  font-family: var(--textFont);
}

.about-description {
  overflow: hidden; /* hide the starting position */
}

.about-description .line {
  display: block; /* make each span act like a line */
  opacity: 0; /* start invisible */
  transform: translateX(-40px); /* start slightly left */
  animation: slideInLeft 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  filter: blur(4px);
}

/* Stagger each line */
.about-description .line:nth-child(1) {
  animation-delay: 0s;
}
.about-description .line:nth-child(2) {
  animation-delay: 0.3s;
}
.about-description .line:nth-child(3) {
  animation-delay: 0.6s;
}

/* Keyframes */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.stay {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* border: 5px solid rgb(166, 255, 0); */
  color: var(--lighterBlack);
}

.stay-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stay-title {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--header2);
}

.stay-description {
  font-size: 1.05rem;
  line-height: 1.7rem;
  font-family: var(--textFont);
}

.image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  /* border: 5px solid purple; */
}

.image-card {
  /* border: 10px solid rgb(0, 128, 255); */
  width: 90%;
}

.slide-up {
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 1s ease-out forwards;
}

.slide-up:nth-child(1) {
  animation-delay: 0s;
}
.slide-up:nth-child(2) {
  animation-delay: 0.2s;
}
.slide-up:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-card-media {
  /* border: 5px solid rgb(64, 128, 0); */
  position: relative;
}

.image-card-caption {
  display: flex; /* stack title + button */
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* spacing between title and button */
  color: white; /* make text visible */
  text-align: center;
  /* border: 5px solid rgb(0, 0, 0); */
}

.image-card-title {
  position: absolute; /* stays over the figure */
  top: 50%; /* halfway down */
  left: 50%; /* halfway across */
  transform: translate(-50%, -50%); /* center properly */
  font-size: 2.6rem;
  font-weight: 100;
}

.image-card-button {
  position: absolute;
  bottom: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 0.9rem 1.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.image-card-button:hover {
  background-color: white;
  color: var(--lighterBlack);
}

/* Section */
.offerings-section {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Shared card styles */
.offerings-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Category-specific cards */
.experience-card {
}

.food-card {
}

.meeting-card {
}

/* Card header */
.card-header {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.card-title {
  font-size: 2.3rem;
  font-weight: 100;
  font-family: var(--header2);
  opacity: 0.8;
}

.card-openClose-icon {
  width: 1rem;
  cursor: pointer;
}

/* Card description */
.card-description {
  font-size: 1.05rem;
  line-height: 1.8rem;
  font-family: var(--textFont);
  opacity: 0.8;
}

/* Image gallery */
.card-gallery {
  /* border: 10px solid purple; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-image {
  width: 45%;
}

.discover-section {
  /* border: 3px solid brown; */
}
.discover-figure {
  /* border: 10px solid rgb(165, 138, 42); */
  position: relative;
}

.zoom-in {
  opacity: 0;
  transform: translateY(40px) scale(0.95); /* slightly smaller */
  animation: slideUpZoom 1s ease-out forwards;
}

.zoom-in:nth-child(1) {
  animation-delay: 0s;
}

.zoom-in:nth-child(2) {
  animation-delay: 0.2s;
}

.zoom-in:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes slideUpZoom {
  to {
    opacity: 1;
    transform: translateY(0) scale(1); /* zoom in to full size */
  }
}

.discover-image {
  min-height: 31.5rem;
  /* border: 3px solid rgb(42, 165, 69); */
  filter: blur(0px) saturate(100%) brightness(70%);
  object-fit: cover;
  object-position: center;
}
.discover-caption {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  width: 90%;
}

.discover-caption:hover {
  text-decoration: none;
}

.discover-text {
  /* border: 3px solid rgb(42, 81, 165); */
  font-size: 2.8rem;
}
.discover-text2 {
  /* border: 3px solid rgb(165, 42, 134); */
  font-size: 3rem;
  font-family: var(--fancyText);
  font-weight: 300;
  letter-spacing: 0.2rem;
  opacity: 0.85;
}

.room-highlight-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 4px solid black; */
}

.room-highlight-figure {
  /* border: 4px solid rgb(0, 246, 70); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-highlight-image {
  width: 90%;
  /* border: 4px solid red; */
}

.room-highlight-image-bathroom {
  display: none;
}

.room-highlight-text {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 100;
  opacity: 0.7;
}

.moments-section {
  /* border: 4px solid rgb(255, 187, 0); */
}
.moments-figure {
  /* border: 4px solid rgb(81, 255, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.moments-image {
  /* border: 4px solid rgb(0, 234, 255); */
  /* width: 40rem;
  max-width: 40rem; */
  /* margin: 0 auto; */
  width: 100%;
  /* max-width: 60%; */
}
.moments-caption {
  /* border: 4px solid rgb(0, 132, 255); */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.moment-text-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.moments-title {
  font-size: 3rem;
  font-weight: 100;
  opacity: 0.7;
}
.moments-description {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--textFont);
  opacity: 0.8;
}

.golf-figure {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* border: 4px solid black; */
}

.golf-title {
  font-size: 3rem;
  font-weight: 100;
  opacity: 0.8;
}

.golf-description {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--textFont);
  opacity: 0.8;
}

.golf-text-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.golf-figure {
  position: relative;
}

.golf-caption {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  /* font-size: 2.5rem; */
  color: white;
}

.golf-overlay-title {
  text-align: right;
  font-family: var(--fancyText);
  letter-spacing: 0.3rem;
}

.rooms-view-section {
}
.rooms-view-figure {
  /* border: 4px solid rgb(255, 213, 0); */
}

.rooms-view-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rooms-view-image {
  /* border: 4px solid rgb(106, 255, 0); */
}
.rooms-view-caption {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.rooms-view-title {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--header2);
  opacity: 0.8;
}
.rooms-view-description {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--textFont);
  opacity: 0.8;
}
.rooms-view-cta {
  border-bottom: 1px solid green;
  width: 30%;
  padding-bottom: 0.5rem;
}
.rooms-view-cta-text {
  color: green;
  text-transform: uppercase;
}

/* Section */
.wellness-section {
  /* border: 4px solid rgb(0, 89, 255); */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Intro / Header */
.wellness-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wellness-title {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--header2);
  opacity: 0.8;
}

.wellness-intro {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--textFont);
  opacity: 0.8;
}

.wellness-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/* Cards */
.wellness-card {
  /* border: 4px solid rgb(23, 0, 128); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wellness-image {
}
.wellness-card-title {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--header2);
  opacity: 0.8;
}
.wellness-card-subtitle {
  color: green;
  text-transform: uppercase;
}
.wellness-card-description {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--textFont);
  opacity: 0.8;
}

.activities-section-collection {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 11;
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 50%;
    left: 8rem;
    bottom: 4rem;
  }

  .intro-text {
    font-size: 2.5rem;
  }

  .intro-heading {
    font-size: 5.6rem;
  }

  .about,
  .stay,
  .offerings-section,
  .room-highlight-section,
  .moments-section {
    /* padding-left: 13.5rem;
    padding-right: 10rem;
    padding-top: 3rem; */
    /* border: 10px solid red; */
    width: 70%;
    margin: 0 auto;
  }

  .about {
    margin-top: 10rem;
    padding-top: 8rem;
  }

  .about-title {
    font-size: 4.2rem;
  }

  .about-description {
    font-size: 2rem;
    line-height: 3rem;
  }

  .stay {
    margin-top: 7rem;
  }

  .stay-title {
    font-size: 3.5rem;
  }

  .stay-description {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .stay-description {
    width: 70%;
  }

  .image-section {
    display: flex;
    flex-direction: row;
  }

  .image-card {
    /* width: 48.8%; */
    flex: 1;
  }

  .card-title {
    font-size: 3.3rem;
  }

  .card-description {
    width: 62%;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .card-gallery {
    width: 100%;
    padding: 3rem;
    padding-top: 0;
    gap: 1.5rem;
  }

  .card-image {
    width: 54%;
  }

  .discover-image {
    border-radius: 1rem;
  }

  .discover-caption {
    bottom: 12rem;
  }

  .discover-text {
    font-size: 3.5rem;
  }

  .discover-text2 {
    font-size: 5.5rem;
  }

  .room-highlight-section {
    width: 100%;
  }

  .room-highlight-figure {
    /* border: 5px solid black; */
    flex-direction: column-reverse;
    position: relative;
    padding: 3rem;
  }

  .room-highlight-text {
    font-size: 4.9rem;
    margin-bottom: 10rem;
  }

  .room-highlight-image {
    margin-left: auto;
    width: 50%;
  }

  .room-highlight-image-bathroom {
    display: block;
    width: 25%;
    position: absolute;
    top: 35%;
    border: 18px solid white;
    left: 34%;
    animation: floatY 2s ease-in-out infinite;
  }

  .moments-section {
    width: 100%;
    padding: 2rem;
  }

  .moments-figure {
    /* border: 10px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* padding-left: 5rem; */
  }

  .moments-image {
    /* border: 10px solid purple; */
    height: 70rem;
    width: 50%;
  }

  .moments-image2 {
    /* width: 25%; */
    width: 60%;
    /* position: absolute;
    top: 43%;
    left: 45%;
    transform: translate(-50%, -50%); */
    animation: floatY 2s ease-in-out infinite;
    border: 20px solid white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: -12rem;
  }

  .moments-caption {
    width: 40%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 2rem;
    gap: 0;
    /* gap: 29rem; */
  }

  .moments-title,
  .golf-title {
    font-size: 5rem;
  }

  .moments-description,
  .golf-description {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .golf-section {
    width: 100%;
    padding: 0;
    margin-top: 4rem;
  }

  .golf-text-main {
    /* border: 10px solid brown; */
  }

  .moment-text-main {
    /* border: 10px solid pink; */
  }

  .golf-caption {
    /* border: 10px solid rgb(0, 255, 123); */
    bottom: 4rem;
    right: 8rem;
  }

  .golf-overlay-subtitle {
    font-size: 3.5rem;
  }

  .golf-overlay-title {
    font-size: 5rem;
  }

  .rooms-view-figure {
    width: 100%;
    /* border: 10px solid black; */
  }

  .rooms-view-figure {
    display: flex;
    flex-direction: row-reverse;
    gap: 6rem;
  }

  .rooms-view-image {
    width: 43.5%;
  }

  .rooms-view-section {
    width: 100%;
    padding: 6rem;
  }

  .rooms-view-title {
    font-size: 4.2rem;
  }

  .rooms-view-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .rooms-view-description {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }

  .rooms-view-cta {
    margin-top: 3rem;
    width: 20%;
  }

  .rooms-view-cta-text {
    font-size: 1rem;
  }

  .wellness-header {
    /* border: 10px solid red; */
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 7rem;
    align-items: flex-end;
  }

  .wellness-title {
    font-size: 5rem;
    flex: 1;
  }

  .wellness-intro {
    flex: 1;
    font-size: 1.17rem;
    line-height: 2rem;
  }

  .wellness-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
    /* border: 10px solid red; */
  }

  .wellness-card {
    /* border: 10px solid black; */
    flex: 1;
  }

  .wellness-image {
    /* width: 100%; */
    height: 25rem;
  }

  .wellness-card-description {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  @keyframes floatY {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
