.rooms-image-card {
  /* border: 4px solid red; */
  /* position: relative; */
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.rooms-image-card-media {
  /* border: 4px solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.rooms-image-card-content {
  /* border: 4px solid red; */
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}

.rooms-image-card-subtitle {
  font-size: 2rem;
}

.rooms-image-card-title {
  font-size: 3rem;
}

.rooms-div-collection {
  background-color: white;
  z-index: 11;
  position: relative;
}

.text-block {
  /* border: 4px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-block-title {
  font-size: 3rem;
  font-weight: 100;
  color: var(--lighterBlack);
}

.text-block-description {
  font-size: 1.2rem;
  font-family: var(--textFont);
  line-height: 1.9rem;
  color: var(--lighterBlack);
}

.room-gallery {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.room-card {
}

.room-card-media {
  position: relative;
}

.room-card-image {
}

.room-card-caption {
  color: var(--lighterBlack);
  font-family: var(--textFont);
}

.room-pay {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.2rem;
  color: var(--lighterBlack);
}

.moments-section{
    padding-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .rooms-image-card-content {
    bottom: 4rem;
    left: 3rem;
  }
  .rooms-image-card-subtitle {
    font-size: 4rem;
  }

  .rooms-image-card-title {
    font-size: 5rem;
  }
  .text-block {
    padding: 8rem;
  }

  .text-block-title {
    font-size: 4rem;
  }

  .text-block-description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .room-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 8.5rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
}
