.site-footer {
  background-image: url("../assets/homePage/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 2rem;
  margin-top: -0.5rem;
  position: relative;
  z-index: 10;
}

.site-footer-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-cta {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-cta-text {
  /* border: 4px solid purple; */
  font-size: 1.5rem;
  /* width: 50%; */
}

.footer-cta-highlight {
  font-family: var(--fancyText);
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-top: -1rem;
}

.footer-cta-button {
  background-color: rgb(7, 146, 7);
  color: white;
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.footer-nav-list {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style-type: none;
}

.footer-link a{
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.site-footer-main2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-legal-list {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  font-family: var(--textFont);
}

.footer-copyright {
  font-weight: bold;
  text-transform: uppercase;
}

.footerLogo {
  font-size: 30vw;
  text-align: center;
  font-family: var(--logoFont);
  /* margin-bottom: -4rem; */
}

@media screen and (min-width: 1024px) {
  .site-footer {
    margin-top: -0.5rem;
    padding: 4rem;
  }

  .site-footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-cta {
    width: 90%;
  }

  .footer-cta-text {
    font-size: 4rem;
  }

  .footer-cta-highlight {
    font-size: 5rem;
  }

  .footer-legal-list {
    display: flex;
    flex-direction: row;
  }

  .site-footer-main2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .footer-nav-list {
    gap: 1.5rem;
  }
}
